<section class="portfolio-block block-intro border-bottom">
    <div class="container">
        <div class="avatar">
            <img src="../../assets/avatar/avatar.jpg" />
        </div>
        <div class="about-me">
            <p>
                Hello! I am <strong>TJ Lopez</strong>. I work as full-stack .NET Developer. 
                I have passion for creating software and services that solves problem that 
                people are experiencing in the world today.
            </p><a class="btn btn-outline-primary" role="button" (click)="hireMe()">Hire me</a>
        </div>
    </div>
</section>
<section class="portfolio-block photography">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="text-center hovereffect" style="background-color: #000000;"><img class="img-fluid img-responsive" src="../../assets/nature/mountainWater.jpg" />
                    <div class="overlay">
                        <h2><strong>Test Maker</strong><br /></h2>
                        <p><a class="text-decoration-none" href="https://github.com/tlopez92/TestMaker" target="_blank">Github</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="text-center hovereffect" style="background-color: #000000;"><img class="img-fluid img-responsive" src="../../assets/nature/tropicalIsland.jpg" />
                    <div class="overlay">
                        <h2><strong>Hover effect 3</strong><br /></h2>
                        <p><a class="text-decoration-none" href="#">Contact us</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="text-center hovereffect" style="background-color: #000000;"><img class="img-fluid img-responsive" src="../../assets/tech/macbook.jpg" />
                    <div class="overlay">
                        <h2><strong>Hover effect 3</strong><br /></h2>
                        <p><a class="text-decoration-none" href="#">Contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>